# Admin Password für den geschützten Bereich
# Ändere dieses Passwort für deine Installation!
ADMIN_PASSWORD=dein-sicheres-passwort-hier

# EmailJS Configuration (für Kontaktformular)
# Registriere dich kostenlos bei https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key